.grille {
  position: absolute;
  width: 560px;
  height: 300px;
  border: dotted 2px black;
  margin-top: 100px;
}

.raquette {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blueviolet;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.balle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}

.pause-menu {
    display: none;
    position: fixed;
    background-color: rgb(119, 119, 119);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    z-index: 2;
    left: 5%;
    top: 30%;
    width: 350px;
    height: 100px;
    font-family: 'Press Start 2P', cursive;
}


.menu-content {
  text-align: center;
}


.pause-menu h2 {
  font-size: 24px;
  margin: 0;
}

.pause-menu p {
  font-size: 18px;
  margin: 10px 0;
}

.fin-jeu-message{
  display: none;
  position: fixed;
  z-index: 2;
  left: 10%;
  top: 30%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


